<ion-header>
  <ion-toolbar>
    <ion-title>Prods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-list-header>Prods</ion-list-header>
        <ion-item *ngFor="let item of items;let i = index">
          {{item.name}}
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Default Item Lines</ion-label>
          <ion-icon (click)="getProductsDetails(item.id)" name="information-circle" slot="end"></ion-icon>
          <ion-icon (click)="getProductDetailsWithExtras(item.id)" name="information-circle" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>