<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col [ngClass]="{'ion-hide' : showTextFlag}">
      <div>
        <h3>hidden</h3>
        You can't see me.
      </div>
    </ion-col>
  </ion-row>
  <ion-row>

    <ion-col>
      <div>
        <h3>not-hidden</h3>
        You can see me!
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-button (click)="toggleShowText()">Default</ion-button>
        <ion-button [routerLink]="['/tabs']">Go to detail</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="navigate()">Go to detail</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- Default Input -->
      <ion-input></ion-input>
      
      <!-- Input with value -->
      <ion-input [(ngModel)]="teste"></ion-input>
      
      <!-- Input with placeholder -->
      <ion-input placeholder="Enter Input"></ion-input>
      
      <!-- Input with clear button when there is a value -->
      <ion-input clearInput value="clear me"></ion-input>
      
      <!-- Number type input -->
      <ion-input type="number" value="333"></ion-input>
      
      <!-- Disabled input -->
      <ion-input value="Disabled" disabled></ion-input>
      
      <!-- Readonly input -->
      <ion-input value="Readonly" readonly></ion-input>
      
      <!-- Inputs with labels -->
      <ion-item>
        <ion-label>Default Label</ion-label>
        <ion-input  [(ngModel)]="teste"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="fixed">Fixed Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Stacked Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>